//wp-starter
//A developer theme for WordPress

// ====================
//   Import the basics
//  ===================
@import "reset";
@import "bourbon";

@import "base/variables";
@import "base/mixins";
@import "base/fonts";
@import "base/utilities";


// ==============
//   Base styles
//  =============  
@import "base/typography";
@import "base/media";
@import "base/form";
@import "base/table";

html {
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: $light-gray;
	box-sizing: border-box;
	height: 100%;
}

*,
*::before,
*::after {
		box-sizing: inherit;
}

body {
	color: $font-color;
	font-family: $font;
	font-feature-settings: "kern", "liga", "pnum";
	font-size: $font-size;
	line-height: 1.4;
	text-rendering: optimizeLegibility;
}

a {
	color: $link-color;
	text-decoration: none;
	
	&:active,
	&:focus,
	&:hover {
		color: $link-color;
}
}

//Link hovers
@include media(900) {
a {
  transition: color 0.4s ease-in 0.1s;
    
  &:hover {
    color: $hover-color;
}
}
}

// ==============
// Custom styles
// ==============

@import "site/site";
@import "site/header";
@import "site/menu";
@import "site/post";
@import "site/prism";
@import "site/post-meta";
@import "site/author-info";
@import "site/navigation";
@import "site/related-posts";
@import "site/comments";
@import "site/widget-areas";
@import "site/footer";

// Print
@import "print";
