// ======================================
// Site
// ======================================

.wrapper,
header,
article,
.sidebar,
footer,
.footer-sidebar {
 @include clearfix;
}

.wrapper {
 padding: $spacer $spacer/2;
}

//default WordPress class to hide stuff
.screen-reader-text,
.hidden {
	@include hide-visually;
}

//don't forget to remove the temporay headings
//eg sidebar, menu, footer menu, footer-sidbar
.menu-title-remove {
 font-size: .8rem;
 letter-spacing: 3px;
 text-transform: uppercase;
 color: $medium-gray;
}

//example body class change the background color if
//page uses a page template
.change-color {
  background: #f6feff;
}

@include media(900) {
  .wrapper {
 padding: $spacer 0;
 max-width: 960px;
 @include margin(null auto);
}
}










